body > .container > .app > .posts {
  height: auto;
  position: relative;
  width: calc(100% - 350px);
  float: left;
  box-sizing: border-box;
  padding: 20px;
  > .loading {
    width: 100%;
    text-align: center;
  }
}
