body > .container > .app {
  min-height: 300px;
  position: relative;
  width: 100%;
  max-width: 1080px;
  background-color: #f5f5f5;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 14px;
  margin: auto;
  height: fit-content;
  display: table;

  > .body {
    width: calc(100% - 350px);
    height: auto;
    position: relative;
    float: left;
    border-right: 1px solid #d4d4d4;
    min-height: 100%;
  }

  > .side-bar {
    width: 350px;
    height: auto;
    position: relative;
    float: left;
    border-left: 1px solid #d4d4d4;
    margin-left: -1px;
  }
}

@media (min-width: 0px) {
  body > .container > .app > .body {
    width: 100%;
    margin-bottom: -20px;
  }
}

@media (min-width: 768px) {
  body > .container > .app > .body {
    width: calc(100% - 300px);
  }
}

@media (min-width: 992px) {
  body > .container > .app > .body {
    width: calc(100% - 350px);
  }
}
