body > .Container > .App {
  min-height: 300px;
  position: relative;
  width: 100%;
  max-width: 1080px;
  background-color: #f5f5f5;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 14px;
  margin: auto;
  margin-top: 20px;
  height: fit-content;
  display: table;
  margin-bottom: 20px;
  min-height: 100%;
  > .body {
    width: calc(100% - 350px);
    height: auto;
    position: relative;
    float: left;
    border-right: 1px solid #d4d4d4;
  }
  > .side-bar {
    width: 350px;
    height: auto;
    position: relative;
    float: left;
    border-left: 1px solid #d4d4d4;
    margin-left: -1px;
  }
}
