.sidebar {
  height: auto;
  position: relative;
  width: 350px;
  float: left;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 0;
  border-left: 1px solid #d4d4d4;
  margin-left: -1px;
  font-size: 14px;
  > .list {
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 10px;
    float: left;
    transform: scale3d(1, 1, 1);
    transition: 200ms;
    box-sizing: border-box;
    > .item {
      line-height: 30px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &:last-child {
        border-bottom: 0px;
      }
    }
  }
}

@media (min-width: 0px) {
  .sidebar {
    width: 100%;
    border-left: 1px solid #d4d4d4;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .sidebar {
    width: 350px;
  }
}
