.post-summary {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  float: left;
  transform: scale3d(1, 1, 1);
  cursor: pointer;
  transition: 200ms;
  &:last-child {
    margin-bottom: 0px;
  }

  &:hover {
    border: 1px solid rgba(2, 52, 216, 0.719);
    box-shadow: 0 0 0px 4px rgba(2, 52, 216, 0.2);
  }

  > .title {
    font-size: 18px;
    > .time {
      text-align: right;
      font-size: 14px;
      color: #999;
    }
  }

  .details {
    padding: 10px;
    padding-right: 0px;
    font-size: 16px;
    > p {
      margin: 0;
    }
  }

  .thumb {
    height: 250px;
    float: left;
    background-color: #eee;
    border-radius: 6px;
    background-size: cover;
  }
}
